html
  head
    title= title

    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/pure.css/pure-min.css")
    link(rel="stylesheet" href="css/pure.css/grids-responsive-min.css")

    script(src="js/jquery-3.3.1.min.js")
    script(src="js/highlight.pack.js")
  body

    div(class="pure-g")

      div(class="pure-u-1 pure-u-md-1-2")
        p Input
      div(class="pure-u-1 pure-u-md-1-2")
        p Output
