body {
    background-color: #1b2431;
    color: #ffffff;
}

input[type="text"], textarea {
    background-color: #323c41;
}

.msgbox {
    margin-top: 3px;
    font-family: "Courier New";
}


#messages {
    font-size: 0.8em;
}

#messages > div > div:nth-child(1) {
    padding-left: 10px; 
    border-left: 6px solid #ff3267;
}

#messages > .info-row {
    margin-bottom: 2px; 
}

.hidden {
    display: none;
}

